#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: flex-start;
  display: inline;
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
  max-width: auto;
}

.nav {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  justify-content: center;
}

.nav__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.nav__container__actions {
  display: inline-flex;
  flex-flow: row nowrap;
  padding-left: 50px;
  flex: 1;
  min-width: 150px;
}

.active {
  font-weight: bold;
}

ul {
  display: flex;
  gap: 3rem;
  font-size: 1.25rem;
  list-style: none;
  padding: 4px;
  position: fixed;
  /* margin: auto; */
  margin-left: 15px;
  border-radius: 3px;
  background-color: white;
  background: url("./assets/projectsback.webp") no-repeat center;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

.home-div {
  padding: 1rem;
}

.projects-card {
  background-color: rgb(233, 225, 225);
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
  max-height:min-content;
  align-items: stretch;
  overflow-wrap: normal;
}

.project-title {
  display: flex;
  padding: 10px;
}

.project-text {
  display: flex;
  padding: 10px;
}

.project-links {
  display: inline-flex;
  padding: 10px;
  font-weight: 300;
  justify-content: flex-start;
  color: black;
}

.project-links:hover {
  color: rgb(173, 166, 166);
}

.project-links:visited {
  color: rgb(82, 81, 81);
}

.contact-header {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 800;
}

.card-body {
  display: flex;
  justify-content: center;
}

.group-div {
  display: flex;
  align-items: center;
}

.solo-div {
  display: flex;
  align-items: center;
}

.project-titles {
  display: flex;
}

.svg {
  display: flex;
  max-width: 25px;
  max-height: 25px;
  vertical-align: -0.125em;
  margin-top: 10px;
  margin-right: 3px;
}

.form {
  display: inline-block;
  border: 1px solid rgb(209, 208, 208);
  background-color:  rgb(233, 225, 225);
  justify-content: center;
  margin: 50px;
  border-radius: 5px;
}


.footer {
  background: url("./assets/projectsback.webp") repeat center;
  color: black;
  display: flex;
  justify-content: center;
}

.footer-text {
  display: flex;
  font-weight: bold;
}

/* Images Below */

.umn-logo {
  max-width: 300px;
  max-height: 300px;
  display: flex;
}

.project-imgs {
  max-width: 225px;
  display: flex;
  padding: 10px;
  margin: auto;
}


/* Section's Below  */

#home {
  background: url("./assets/home.avif") no-repeat center;
  background-size: cover;
  color: black;
  display: flex;
}

#projects {
  background: url("./assets/projectsback.webp") no-repeat center;
  background-size: cover;
  color: black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-height: fit-content;
}

#contact {
  background: url("./assets/contact-background.avif") no-repeat center;
}

#bio {
  background: url("./assets/bio-background.avif") no-repeat center;
}
